h2,
h3 {
  text-align: center;
  margin-bottom: 30px;
  font-family: var(--RobotoLight);
  font-size: 24px;
}

.illust-addarticle {
  background: url("../img/logos/fruits.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 500px;
  margin-bottom: 50px;
}

.container {
  background-color: #c5cbb4;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 1200px;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

h1 {
  grid-column: span 2;
  text-align: center;
}

form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
}

label {
  margin: 5px 0;
  display: block;
}

input[type="text"],
textarea,
select {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #999;
  border-radius: 4px;
  width: 100%;
}

textarea {
  resize: vertical;
  height: 100px;
}

input[type="file"] {
  margin: 10px 0;
}

button {
  grid-column: span 2;
  padding: 10px 20px;
  background-color: #ede9d3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}

button:hover {
  background-color: #d6d2bb;
}
