#elise-link {
  color: var(--color4);
}

/* ILLUSTRATION */

#illustration-entree {
  background: url("../img/entrees/entreebg.jpg") fixed;
  background-position-y: 50%;
  height: 400px;
  margin-bottom: 50px;
}
