#gregory-link {
  color: var(--color4);
}
/* Illustration */

#illustration-onglet {
  background: url("../img/logos/recettebg.jpg") fixed no-repeat;
  height: 400px;
}

/* Catégorie */

.hidden {
  display: none;
}

.options {
  margin-top: 20px;
}

#entrees-options {
  text-align: center;
}

#entrees-options button {
  margin: 0px 50px 25px 0;
  padding: 20px;
  width: 150px;
  background-color: var(--color5);
  border: none;
  text-decoration: none;
  cursor: pointer;
}

#entrees-options button:hover {
  background: var(--color4);
}

#entrees-options button a {
  text-decoration: none;
  color: var(--color2);
  font-size: var(--fsize3);
}

#plats-options {
  text-align: center;
}

#plats-options button {
  margin: 0px 50px 25px 0;
  padding: 20px;
  width: 150px;
  background-color: var(--color5);
  border: none;
  text-decoration: none;
  cursor: pointer;
}

#plats-options button:hover {
  background: var(--color4);
}

#plats-options button a {
  text-decoration: none;
  color: var(--color2);
  font-size: var(--fsize3);
}

#desserts-options {
  text-align: center;
}

#desserts-options button {
  margin: 0px 50px 25px 0;
  padding: 20px;
  width: 150px;
  background-color: var(--color5);
  border: none;
  text-decoration: none;
  cursor: pointer;
}

#desserts-options button:hover {
  background: var(--color4);
}

#desserts-options button a {
  text-decoration: none;
  color: var(--color2);
  font-size: var(--fsize3);
}
