body {
  background: url("../img/login/pizza.jpg") no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #f7f4e3;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  text-align: center;
  color: var(--text-color1);
}

.container-prenom,
.container-email,
.container-password,
.container-confirm {
  display: flex;
  align-items: center;
  justify-content: center;
}
