/* GENERAL */

#elise-link {
  color: var(--color4);
}

h2 {
  font-size: var(--fsize3);
  font-family: var(--PlayRegular);
}

/* ILLUSTRATION */

#illustration-entree {
  background: url("../img/entrees/entreebg.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 500px;
  margin-bottom: 50px;
}

#illustration-entreechaude {
  background: url("../img/entrees/quiche.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 500px;
  margin-bottom: 50px;
}

#illustration-apero {
  background: url("../img/entrees/aperitif.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 500px;
  margin-bottom: 50px;
}

#illustration-viande {
  background: url("../img/plats/magret.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 500px;
  margin-bottom: 50px;
}

#illustration-poisson {
  background: url("../img/plats/poisson.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 500px;
  margin-bottom: 50px;
}

#illustration-legume {
  background: url("../img/plats/legumes.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 500px;
  margin-bottom: 50px;
}

#illustration-dessertchaud {
  background: url("../img/desserts/cremebrulee.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 500px;
  margin-bottom: 50px;
}

#illustration-dessertfroid {
  background: url("../img/desserts/pannacotta.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 500px;
  margin-bottom: 50px;
}

/* DETAILS RECETTES */

.detail {
  background: #e8e6d9;
  padding: 20px 0px;
}

.container-detail {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.container-detail a {
  text-align: center;
  width: 100px;
  padding: 5px;
  background: var(--color5);
  text-decoration: none;
  font-size: var(--fsize4);
  color: var(--color2);
}

.detail h2 {
  font-size: var(--fsize3);
}

.credit-detail {
  font-size: 0.89em;
  display: flex;
}

.credit-detail p {
  font-family: var(--PlayRegular);
  padding: 0 5px;
  color: var(--color1);
}

.credit-detail a {
  text-decoration: none;
  color: var(--color1);
}

.credit-detail a:hover {
  color: var(--color4);
  text-decoration: underline;
}

.credit-detail .credit {
  color: #4f4f4f;
}

.img-container {
  width: 100%;
  text-align: center;
}

.image-plat {
  width: 250px;
  height: 250px;
  text-align: center;
  margin: 20px 0px;
}

.text-content {
  margin: 0px 20px 50px;
}

.container-info h3 {
  margin: 0px 0px 0px 20px;
  color: var(--color1);
}

.left-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.middle-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

aside {
  background: var(--color6);
  padding: 10px;
  margin-top: 20px;
}

aside h3 {
  margin: 0;
  color: var(--color1);
}

aside ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

aside ul li {
  list-style: inside;
  font-family: var(--PlayfairDisplay-Black);
}

.instruction {
  padding: 20px;
}

.instruction h3 {
  margin-top: 20px;
  color: var(--color1);
}

.instruction ol {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.instruction ol li {
  list-style-type: decimal;
}
