/* GENERAL */

#elise-link {
  color: var(--color4);
}

h2 {
  font-size: var(--fsize3);
  font-family: var(--PlayRegular);
}

/* ILLUSTRATION */

#illustration-entree {
  background: url("../img/entrees/entreebg.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 500px;
  margin-bottom: 50px;
}

#illustration-entreechaude {
  background: url("../img/entrees/quiche.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 500px;
  margin-bottom: 50px;
}

#illustration-apero {
  background: url("../img/entrees/aperitif.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 500px;
  margin-bottom: 50px;
}

#illustration-viande {
  background: url("../img/plats/magret.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 500px;
  margin-bottom: 50px;
}

#illustration-poisson {
  background: url("../img/plats/poisson.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 500px;
  margin-bottom: 50px;
}

#illustration-dessertchaud {
  background: url("../img/desserts/cremebrulee.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 500px;
  margin-bottom: 50px;
}

#illustration-dessertfroid {
  background: url("../img/desserts/pannacotta.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 500px;
  margin-bottom: 50px;
}
