/* GENERAL */

#elise-link {
  color: var(--color4);
}

h2 {
  font-size: var(--fsize3);
  font-family: var(--PlayRegular);
}

/* ILLUSTRATION */

#illustration-entree {
  background: url("../img/entrees/entreebg.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 400px;
  margin-bottom: 50px;
}

#illustration-apero {
  background: url("../img/entrees/aperitif.jpg") fixed;
  background-position-y: 50%;
  background-position-x: 25%;
  height: 400px;
  margin-bottom: 50px;
}
